:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10100e;

  --spacing-medium: 20px;

  --font-famaly-main: sans-serif;

  --border-radius-small: 5px;
}

body {
  background-color: var(--color-dark-gray);
  font-family: var(--font-famaly-main);
}