.burger_wrapper {
    display: none;
    margin: auto;


    @media screen and (max-width: 900px) {
        z-index: 1;
        width: 100%;
        padding: 15px;
        display: flex;
        position: fixed;
        text-align: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(5px);
    }
}

.burger__icon {
    order: 0;
    z-index: 5;
    display: block;
    position: relative;
    width: 34px;
    height: 30px;
    cursor: pointer;

    span,
    &::before,
    &::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--theme-default-header);
    }
    &::after,
    &::before {
        content: '';
    }
    &::after {
        bottom: 0;
    }
    &::before {
        top: 0;
    }
    span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    &._active span {
        transform: scale(0) translate(0px, -50%);
    }
    &._active::before  {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    &._active::after  {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

}

.logo {
    width: 30px;
    height: 30px;
}

.burger_body {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    margin-top: 60px;
    width: 100%;
    order: 2;
    transform: translateY(-130%);
    transition: all 0.1s;
    background-color: rgba(0, 0, 0, 0.9);
    
    &._active {
        transform: translateY(0);
    }
    & li {
        list-style: none;
    }
    & a {
        display: block;
        margin: 0 10px;
        padding: 15px 10px;
        min-width: 250px;
        border: 2px solid transparent;
        border-radius: var(--border-radius-small);
        color: var(--color-white);
        text-align: center;
        font-family: var(--font-famaly-main);
        text-decoration: none;
        font-weight: var(--font-bold);
        text-shadow: var(--text-shadow-yellow);
        transition: all var(--transition);
        @media screen and (max-width: 765px) {
            min-width: 120px;
        }
    }
    & :global(a.active) {
        border: 2px solid var(--color-violet);
        color: var(--color-violet);
        text-shadow: none;
    }
}


